
## General
UserKnownHostsFile /dev/null
StrictHostKeyChecking no
ServerAliveInterval 120

## Bastion
Host bastion-?.fabric-testbed.net
  ForwardAgent yes
  Hostname %h
  IdentityFile {{ identityfile_path }}
  IdentitiesOnly yes
  User {{ fabric_bastion_username }}

## Other
Host * !bastion-?.fabric-testbed.net
  Port 22
  ProxyJump bastion-2.fabric-testbed.net
  User {{ fabric_bastion_username }}
