####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

[secrets]
fabric_project_id: <project-id>
fabric_bastion_username: <fabric-username>

[slice]
name: Slice_01
site: UTAH

[network]
name: NET1
type: IPv4

[node]
names: Node1 Node2
image: default_centos_7
