####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

"""
Module meant to mimic the ``./fabric_rc`` file on Fabric Jupyter Lab.
"""
import os


def initialize() -> None:
    """
    Initializes the operating system environmental variables used by Fabric.
    :return: None
    """
    os.environ['FABRIC_CREDMGR_HOST'] = 'cm.fabric-testbed.net'
    os.environ['FABRIC_ORCHESTRATOR_HOST'] = 'orchestrator.fabric-testbed.net'
    os.environ['FABRIC_BASTION_HOST'] = 'bastion-1.fabric-testbed.net'
    os.environ['FABRIC_PROJECT_ID'] = 'XXXX'
    os.environ['FABRIC_BASTION_USERNAME'] = 'XXXX'
    os.environ[
        'FABRIC_BASTION_KEY_LOCATION'] = f"{os.environ['DEFAULT_FABRIC_CONFIG_LOCATION']}/fabric-bastion-key"
    os.environ[
        'FABRIC_SLICE_PRIVATE_KEY_FILE'] = f"{os.environ['DEFAULT_FABRIC_CONFIG_LOCATION']}/slice_key"
    os.environ[
        'FABRIC_SLICE_PUBLIC_KEY_FILE'] = f"{os.environ['DEFAULT_FABRIC_CONFIG_LOCATION']}/slice_key.pub"
    os.environ['FABRIC_LOG_LEVEL'] = 'INFO'
    os.environ['FABRIC_LOG_FILE'] = f"{os.environ['DEFAULT_FABRIC_CONFIG_LOCATION']}/fablib.log"
    os.environ['FABRIC_TOKEN_LOCATION'] = f"{os.environ['DEFAULT_FABRIC_CONFIG_LOCATION']}/token.json"
