####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

export FABRIC_WORKING_DIR=${PWD}
export FABRIC_CREDMGR_HOST=cm.fabric-testbed.net
export FABRIC_ORCHESTRATOR_HOST=orchestrator.fabric-testbed.net
export FABRIC_BASTION_HOST=bastion-1.fabric-testbed.net
export FABRIC_PROJECT_ID=<PROJECT_ID>
export FABRIC_BASTION_USERNAME=<BASTION_USERNAME>
export FABRIC_BASTION_KEY_LOCATION=${FABRIC_WORKING_DIR}/fabric_config/fabric-bastion-key
export FABRIC_SLICE_PRIVATE_KEY_FILE=${FABRIC_WORKING_DIR}/fabric_config/slice_key
export FABRIC_SLICE_PUBLIC_KEY_FILE=${FABRIC_WORKING_DIR}/fabric_config/slice_key.pub
#export FABRIC_SLICE_PRIVATE_KEY_PASSPHRASE=<Update Passphrase>
export FABRIC_LOG_LEVEL=INFO
export FABRIC_LOG_FILE=${FABRIC_WORKING_DIR}/fablib.log
export FABRIC_TOKEN_FILE=${FABRIC_WORKING_DIR}/fabric_config/token.json